*, *::after, *::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

    padding: 0;
    margin: 0;
}

body{
	background-image: url("../img/background_pattern.png");
	height: 100%;
	color: #4D4C4C;
	font-family: lato;
}

p{
	line-height: 1.5em;
	font-size: 1em;
}



.col1of10 {
	width: 10%;
	
	height: auto;


}

.col1of4 {
	width: 25%;
	
	height: auto;
}


.col1of2 {
	width: 50%;
	
	height: auto;
	display: inline-block;
	padding-left: 0px;
	box-sizing: content-box;

}

.col1of1 {
	width: 100%;
	height: auto;

}


#header {
  height: 900px;
  background-image: url("../img/sfu_bg.jpg");
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #ebebeb;
  text-align: center;
  position: relative;
  margin-top: 5em;

}



#header #title {
  position: absolute;
  width: 100%;
}

#header #title #logo {
  display: block;
  margin: auto;
  margin-top: 10em;
}

#header #title h2 {
  margin: 45px 0 50px;
  font-size: 3.5em;
  
}

nav {
  display: block;
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0px;
  text-align: center;
  background-color: #FAFAFA;
  border-bottom: 1px solid #ddd;
  -webkit-box-shadow: #777777 0px 1px 0px;
  -moz-box-shadow: #777777 0px 1px 0px;
  box-shadow: #777777 0px 1px 0px;
  z-index: 1;
}

nav ul {
  vertical-align: top;
}
nav ul li {
  display: inline-block;
  padding: 27px 10px 27px 10px;
  font-size: 1em;
  font-weight: 400;
}

nav ul li a {
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
  color: #558eb8;
}

nav ul li a:hover {
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
  color: #6cd9a9;
}

nav ul li a.current {
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
  color: #6cd9a9;
}
a{
	text-decoration: none;
}


table {
  border-collapse: collapse;
  border-spacing: 0;

}

/* line 320, ../sass/desktop.scss */
#panelists .profile, #speakers .profile {
  vertical-align: middle;
}
/* line 327, ../sass/desktop.scss */
#panelists .profile img, #speakers .profile img {
  width: 140px;
}
/* line 331, ../sass/desktop.scss */
#panelists .profile .photo, #speakers .profile .photo {
  border: 3px solid #558eb8;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  margin-bottom: 5px;
}
/* line 337, ../sass/desktop.scss */
#panelists .profile .table, #speakers .profile .table {
  width: inherit;
}
/* line 341, ../sass/desktop.scss */
#panelists .profile .cell, #speakers .profile .cell {
  vertical-align: middle;
}
/* line 346, ../sass/desktop.scss */
#panelists .spacer, #speakers .spacer {
  width: 30px;
  height: 30px;
}

.table {
  display: table;
  table-layout: fixed;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

/* line 65, ../sass/desktop.scss */
.row {
  display: table-row;
}

/* line 69, ../sass/desktop.scss */
.cell {
  display: table-cell;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: top;
}


#sponsors .sponsor {
  text-align: center;
  vertical-align: middle;
  height: 100%;
}
/* line 274, ../sass/desktop.scss */
#sponsors .sponsor img {
  max-width: 50%;
  margin-bottom: 2em;
}

#about #schedule {
  margin-top: 50px;
  font-size: 1.1em;
}
/* line 224, ../sass/desktop.scss */
#about #schedule .row .cell {
  background-color: #97c0e5;
  padding: 10px;
  border: 1px solid #ebebeb;
  border-top: none;
  border-right: none;
}
/* line 232, ../sass/desktop.scss */
#about #schedule .row .schedule_column:last-child, #about #schedule .row .schedule_column:first-child {
  border-left: none;
  border-right: none;
}
/* line 237, ../sass/desktop.scss */
#about #schedule .row #time_column {
  width: 125px;
}
/* line 241, ../sass/desktop.scss */
#about #schedule .row #spkr_column {
  width: 137px;
}
/* line 246, ../sass/desktop.scss */
#about #schedule .row.break .cell {
  background-color: #558eb8;
  color: #ebebeb;
}
/* line 251, ../sass/desktop.scss */
#about #schedule .row.break .cell:last-child {
  border-left: 1px solid #ebebeb
}
/* line 256, ../sass/desktop.scss */
#about h2 {
  font-weight: 800;
  margin-bottom: 30px;
}
/* line 261, ../sass/desktop.scss */
#about .highlight {
  color: #558eb8;
}

#categories .tab {
  text-align: center;
  border: 1px solid #558eb8;
  border-right: none;
  padding: 10px;
  font-weight: 800;
}
/* line 291, ../sass/desktop.scss */
#categories .tab:last-child {
  border-right: 1px solid #558eb8;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
/* line 296, ../sass/desktop.scss */
#categories .tab.selected {
  background-color: #558eb8;
  color: #ebebeb;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
/* line 302, ../sass/desktop.scss */
#categories .category_info {
  padding: 20px 40px;
  border: 1px solid #558eb8;
  border-top: none;
}
/* line 308, ../sass/desktop.scss */
#categories .text {
  display: none;
}
/* line 312, ../sass/desktop.scss */
#categories .text.selected {
  display: block;
}

.aboutContainer {
	display:block;
	height: auto;
	margin-top: 5em;
}

.awardContainer {
	display:block;
	height: auto;
	
}

.awardContainer h1, p{
	padding-top: 1em;
	
	text-align: center;
	
}

.awardContainer h1 {
	padding-bottom: 1em;
	
	
	
}

.awardContainer p{
	padding-bottom: 1em;
	text-align: left;
		 
}

.awardContainer h3{
	text-align: center;
	margin-bottom: 5em;
	margin-left: 10%;
	margin-right: 10%;
	font-size: 1.5em;

}

.aboutContainer h1, p{
	padding-top: 1em;
	
	text-align: center;
	
	
}

.aboutContainer h1 {
	font-size: 2.5em;
	
	
}

.aboutContainer p{
	padding-bottom: 2em;
	text-align: left;
	padding-left: 20%;
	padding-right: 20%; 
}

.aboutContainer img{
	margin-left: 42.5%;
	margin-bottom: 2em;
	margin-top: 1em;
	border-radius: 50%;
	max-width: 15%;
	height: auto;
	border: solid 3px #558EB8;

}



.awards {
display: block;
	text-align: center;
	color: #558EB8;
	font-size: 1.75em;
	margin: 1em;
	margin-bottom: 3em;
	-webkit-transition: color 0.75s; 
    transition: color 0.75s;

}

.aboutProjectSmall a{
	display: block;
	text-align: center;
	color: #558EB8;
	font-size: 1.5em;
	margin: 1em;
	margin-bottom:0.5em;
	-webkit-transition: color 0.75s; 
    transition: color 0.75s;
}

.aboutProject a:hover{

	color: #73c7af;
}

.awards a:hover{

	color: #73c7af;
}



.aboutProjectSmall a:hover{

	color: #73c7af;
}



.projectContainer{

	width:35%;
	display:inline-block;
	
	margin-top: 2em;
	margin-left: 10%;
	
	margin-bottom: 2em;
	text-align: left;
	height: 20em;
	vertical-align: top;

}

.projectContainer p{

	font-size: 1em;
	line-height: 1em;
	text-align: left;
	margin-bottom: 1em;
	padding-top: 0;
}




.projectContainer img{
max-width: 100%;
max-height: 100%;
border: 3px solid #558EB8;
border-radius: 10px;

}

.projectContainer h2, h3, h4{
	text-align: left;
	
}

.projectContainer h2{
	color: black;
	
}


#bottommargin{

	margin-top: 3em;
}

#bottommargin2{

	margin-top: 3em;
}

#bottommargin3{

	margin-top: 6em;
}

#bottommargin4{

	margin-top: 6em;
}


.projectContainerSmall{

	width:25%;
	display:inline-block;
	
	margin-top: 2em;
	margin-left: 6.25%;
	
	margin-bottom: 2em;
	text-align: left;
	height: 20em;
	vertical-align: top;

}




.projectContainerSmall img{
max-width: 100%;
max-height: 100%;
border: 3px solid #558EB8;
border-radius: 10px;

}

.projectContainerSmall h2, h3, h4{
	text-align: left;
	
}

.projectContainerSmall h2{
	color: black;
	
}


.contactContainer{

margin-top: 6em;
padding-top: 6em;

height: 250px;
}


.contactContainer h2{

text-align: center;
padding-right: 0;
font-size: 1.7em;

}
.contactIcons img{
	max-width: 7%;
	height: auto;
}

.contactIcons{
	margin-left:46%;
	margin-top: 2em;
	margin-bottom: 4em;
}


.sectionHeader{
	text-align: center;
}


#firstTitle{

	margin-top: 12em;
}


.projectImages{

	width:100%;
	height: auto;
}

@media (max-width: 800px) {
  
		.projectContainer {
			width: 80%;
		}

		.nameContainer img{
		margin-top: 50%;
		margin-left: 15%;
		width: 70%;
		height: auto;
		}

		.nameContainer{
			height: 600px;
		}

		.aboutContainer img{
			max-width: 25%;
			margin-left: 38%
		}

		.nav img{
			
		}

		.contactIcons{
			margin-left: 40%;

		}

		.contactContainer{
			margin-top: 0;
		}


		.contactIcons img{
			max-width: 15%;
		}

		.nameProject {
			font-size: 1.5em;
		}

		.nameProject h1{

		padding-top: 4em;
		}

		.projectContainerSmall{

			width:50%;
			margin-left: 25%;
			margin-bottom: 0;
			margin-top: 0.5em;
		}

		.aboutProject img {
			width: 80%;
			margin-left: 10%;
		}

		.aboutProjectSmall img {
			width: 80%;
			margin-left: 10%;
		}

		#firstTitle{

			margin-top: 6em;
		}

		p{
			line-height: 2;
		}


  }

  @media (min-width: 801px) and (max-width: 1300px) {

		.nameContainer img{
			margin-top: 30%;

		}

		.nav img{
			
		}

		.aboutContainer img {
			width: 20%;

		}

		.contactIcons img{
			max-width: 15%;
		}

		.contactIcons{
			margin-left: 40%;

		}


}


@media (max-width: 700px) {
body {
	font-size: 0.7em;
}

}


@media (max-width: 500px) {


body {
	font-size: 0.7em;
}

		.contactIcons img{
			max-width: 20%;
		}

		.contactIcons{
			margin-left: 35%;

		}

		.aboutContainer{
			margin-top: 2em;
		}

		.aboutContainer p{

			padding-left: 10%;
			padding-right: 10%;
		}

		.aboutContainer img{
			max-width: 40%;
			margin-left: 30%;
		}

		.nameContainer img{
		margin-top: 60%;
		
		
		}

		.nav img{
			
		}

		.contactContainer{

			padding-top: 10em;
		}

		#bottommargin{
			margin-top: 2em;
		}

		#bottommargin2{

			margin-top: 2em;
		}

		#bottommargin3{

			margin-top: 2em;
		}

		#bottommargin4{

			margin-top: 2em;
}

		.projectContainer{

			margin-bottom: 0;
		}
		
		.aboutProject img {
			width: 100%;
			margin-left: 0;
		}

		.aboutProjectSmall img {
			width: 100%;
			margin-left: 0;
		}

		.aboutProject p {
			padding-left: 10%;
			padding-right: 10%;
		}

		.projectContainerSmall{

			width: 90%;
			margin-left: 5%;
			margin-bottom: 0;
			margin-top: 3em;
		}



}



