*, *::after, *::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

    padding: 0;
    margin: 0;
}

body{
	background-image: url("../img/background_pattern.png");
	height: 100%;
	color: #4D4C4C;
	font-family: lato;
   padding-top: 80px;
}

p{
	line-height: 1.5em;
	font-size: 1em;
}
h1{
  margin-bottom: 1em;
 
}

ul{
	list-style-type: none;
}

.col1of10 {
	width: 10%;
	
	height: auto;


}

.col1of4 {
	width: 25%;
	
	height: auto;
}


.col1of2 {
	width: 50%;
	
	height: auto;
	display: inline-block;
	padding-left: 0px;
	box-sizing: content-box;

}

.col1of1 {
	width: 100%;
	height: auto;

}


#header {
  height: 900px;
  background-image: url("../img/sfu_bg.jpg");
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #ebebeb;
  text-align: center;
  position: relative;
  margin-top: 5em;

}


.nameContainer h1 {
  padding-top: 11.5em;
  text-align: center;
  font-size: 4em;
  color: white;
}

.nameContainer h2{
  padding-top: 1em;
  text-align: center;
}

.nameContainer {
  height: 1000px;
  display:block;
  position: relative;
  background-image: url("../img/sfu_bg.jpg");
   background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
 
}

.nameContainer img{

margin-left:30%;
margin-top: 15%;
width: 40%;
height: auto;
position: absolute;

}

nav {
  display: block;
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0px;
  text-align: center;
  background-color: #FAFAFA;
  border-bottom: 1px solid #ddd;
  -webkit-box-shadow: #777777 0px 1px 0px;
  -moz-box-shadow: #777777 0px 1px 0px;
  box-shadow: #777777 0px 1px 0px;
  z-index: 1;
  transition: top 0.2s ease-in-out;
}

.nav-up{

  top:-80px;
}

.mobileNav{

  display: block;
  width: 40px;
  height: 40px;
  position: fixed;
  top: 0px;
  z-index: 2;
  display:none;
}


.mobileNav img {
  width: 75%;
  height: auto;
 margin-left: 12.5%;
 margin-top: 12.5%;
}

nav ul {
  vertical-align: top;
}
nav ul li {
  display: inline-block;
  padding: 27px 10px 27px 10px;
  font-size: 1em;
  font-weight: 400;
}

nav ul li a {
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
  color: #558eb8;
}

nav ul li a:hover {
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
  color: #6cd9a9;
}

nav ul li a.current {
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
  color: #6cd9a9;
}
a{
	text-decoration: none;
}


.aboutContainer{

  margin-left: 15%;
  margin-right: 15%;
  margin-top: 3em;
 
  margin-bottom: 3em;
}

.aboutContainer p{
  margin-bottom: 0.5em;
  margin-top: 1em;
}


.sponsorContainer{
  width:80%;
  margin-left: 15%;
}

.sponsorImage{
  width:49%;
  display: inline-block;
}

.sponsorImage img{

  max-width: 75%;
max-height: 75%;
}

.panelistContainer{
  width:80%;
  margin-left: 10%;
  
  margin-bottom: 10em;
}



.panelistProfile{

  width: 49%;
  display:inline-block;
  
  margin-bottom: 2em;

  
}

.panelistImages{
  width:20%;
  display:inline-block;
  
  

}

.panelistImages img{
  width:100%;
  height: auto;
}

#profileImage{
  border: 3px solid #558eb8;
  border-radius: 50%;
}

#speakerImage{
  border: 3px solid #558eb8;
  border-radius: 50%;
  margin-top: 3em;
}


.panelistDescription{
  width:79%;
  display:inline-block;
  
  vertical-align: top;
  
  padding-left: 1em;
}
  

.gameContainer{

 width:80%;
  margin-left: 10%;
  
  margin-bottom: 7em;
  
}

.gameProfile{

  width: 49%;
  display:inline-block;
  
  margin-bottom: 2em;
  
  vertical-align: top;

  
}

.gameProfile img{
  margin-left: 10%;
  width: 80%;
  height: auto;
  border: 3px solid #558eb8;
  border-radius: 30px;
}

.gameProfile h2 {
  margin-left: 10%;
  width: 80%;
  text-align: left;
  padding-bottom: 0.25em;
  padding-top: 0.25em;
}

.gameProfile h3 {
  margin-left: 10%;
  width: 80%;
  text-align: left;
}

.gameProfile p {
  margin-left: 10%;
  width: 80%;
  text-align: left;
}

.footer{

  width: 80%;
  margin-left: 10%;
  margin-bottom: 4em;
  height: 400px;
}

.footer iframe{
  width: 80%;
  height: 100%;
  display: inline-block;

}

.footerInfo{
  display: inline-block;
  vertical-align: top;
  margin-left: 1em;
}

.footerInfo h2{
margin-bottom: 0.5em;
}

.trademark{
  text-align: center;
  margin-top: 6em;
  margin-bottom: 2em;
}

@media (max-width: 700px) {

.gameProfile{

  width: 100%;
  margin-left: 0;
  margin-bottom: 2em;
}

.gameProfile img{
  border-radius: 20px;
}

.panelistProfile{

  width: 100%;
  margin-left: 0;
  margin-bottom: 2em;
}

.sponsorImage{
  width:100%;
  display: inline-block;
  margin-bottom: 2em;
  margin-top: 1em;
  margin-left: 2em;
}

.footer iframe{
  width: 100%;
  height: 100%;
  
}

.footer{

  width:90%;
  margin-left: 5%;
}



  }

  @media (max-width: 600px) {


.panelistImages{
width: 40%;
margin-left: 30%;
  }
.panelistDescription{
width: 100%;
margin-left: 0;

}

.panelistDescription h1 {
width: 100%;
text-align: center;
}

.nameContainer img{
width: 60%;
margin-left: 20%;


}

.mobileNav{

  display: block;
}

nav{

  display: none;
}

body{
  padding-top: 0;
}


}

@media (max-width: 1000px) {

.nameContainer img{
  margin-top: 40%;
  }
}
